# Lists
- ordered sequence
- multiple data elements
- multiple data types
- mutable
- iterable

## Creating a list

##### using [ ]

In [13]:
list1 = [1, 3, 6.8, True, 9]
print('list1: ' , list1)
print("type(list1): " , type(list1))

list1:  [1, 3, 6.8, True, 9]
type(list1):  <class 'list'>

##### using list( )

In [14]:
list2 = list((1, 3, 'dawn', 6, 8, 'dusk', 9))
print('list2: ' , list2)
print("type(list2): " , type(list2))

list2:  [1, 3, 'dawn', 6, 8, 'dusk', 9]
type(list2):  <class 'list'>

###### using range()

In [15]:
list_range = range(20)
print('list_range: ' , list_range)
print("type(list_range): " , type(list_range))
list3 = list(list_range)
print("List from range: ", list3)
print(type(list3))
ran = range(20,7,-2)
print('\nran: ' , ran)
print("type(ran): " , type(ran))
list4 = list(ran)
print("List from range: ", list4)
print(type(list4))

list_range:  range(0, 20)
type(list_range):  <class 'range'>
List from range:  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]
<class 'list'>

ran:  range(20, 7, -2)
type(ran):  <class 'range'>
List from range:  [20, 18, 16, 14, 12, 10, 8]
<class 'list'>

## Nested Lists
- lists wihin the list
- Many elements
- Multiple data types

In [16]:
nest_li = [12, 3.4, 'apple', ['Charlie Puth', ['Attention', 'Dangerously']], '1Direction', [True, 0.9]]
print('nest_li: \n' , nest_li)
print("type(nest_li): " , type(nest_li))
print("Length of the outer list: ", len(nest_li))

nest_li:
 [12, 3.4, 'apple', ['Charlie Puth', ['Attention', 'Dangerously']], '1Direction', [True, 0.9]]
type(nest_li):  <class 'list'>
Length of the outer list:  6

## Accessing Elements
- Syntax:
          
      list_name [index_outer_list] [index_inner_list1]...[index_inner_list_n]

In [17]:
print('list1[2]: ', list1[2])
print('list2[5]: ', list2[5])
print('list3[14]: ', list3[14])
print('nest_li[5]: ', nest_li[5])
print('nest_li[5][1]: ', nest_li[5][1])
print('nest_li[3][1][1]: ', nest_li[3][1][1])

list1[2]:  6.8
list2[5]:  dusk
list3[14]:  14
nest_li[5]:  [True, 0.9]
nest_li[5][1]:  0.9
nest_li[3][1][1]:  Dangerously

## Slicing

In [37]:
A = [41, 45, 89, 82, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
print("List A : ", A)
print('len(A): ', len(A))

List A :  [41, 45, 89, 82, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
len(A):  10

In [38]:
print('A[3 : 8] - ' , A[3 : 8]) 
print('A[ : 5] - ', A[ : 5])
print('A[6 : ] - ', A[6 : ])
print('A[4 : len(A)] - ' , A[4 : len(A)])
print('A[3 : 20] - ' , A[3 : 20])

print('A[-4 : ] - ' , A[-4 : ])
print('A[-2 : -6 : -1] - ' , A[-2 : -6 : -1])
print('A[-1 : -5] - ', A[-1 : -5])
print('A [-8 : -1 : -1] - ' , A [-8 : -1 : -1])
print('A[-1 : -8 : -1] - ', A[-1 : -8 : -1])

A[3 : 8] -  [82, 'dg', 'kjh', 'gfhgf', '45h']
A[ : 5] -  [41, 45, 89, 82, 'dg']
A[6 : ] -  ['gfhgf', '45h', '4hk', 54]
A[4 : len(A)] -  ['dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
A[3 : 20] -  [82, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
A[-4 : ] -  ['gfhgf', '45h', '4hk', 54]
A[-2 : -6 : -1] -  ['4hk', '45h', 'gfhgf', 'kjh']
A[-1 : -5] -  []
A [-8 : -1 : -1] -  []
A[-1 : -8 : -1] -  [54, '4hk', '45h', 'gfhgf', 'kjh', 'dg', 82]

### Lists Mutability

In [39]:
print('Orignal List: \n', A)
print('ID of original list: ', id(A))
A[3] = 100
print('After changing A[3] to 100 : \n', A)
print('ID of list after change: ', id(A))

Orignal List:
 [41, 45, 89, 82, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
ID of original list:  2143850683400
After changing A[3] to 100 :
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
ID of list after change:  2143850683400

## Adding Elements to the list

### append() function
- Syntax
        
        list_name.append(element)
- appends the specified element at the last index of the list
- takes one parameter to be added
- could be one element or one nested list

In [40]:
print("Original List: \n" , A)
print('Length of original list: ', len(A))
A.append('cat12')
print("After A.append('cat12'): \n" , A)
print('Length of list, now: ', len(A))
A.append([3, 6, 'Multiple'])
print("After A.append([3, 6, 'Multiple']: \n", A)
print('Length of list, now: ', len(A))

Original List:
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
Length of original list:  10
After A.append('cat12'):
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12']
Length of list, now:  11
After A.append([3, 6, 'Multiple']:
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple']]
Length of list, now:  12

In [41]:
A.append('rabbit','ball')

TypeError: append() takes exactly one argument (2 given)

### extend() function
- Syntax

       List_name.extend([element1, element2, ..., element n])
- extends the list with the specified elements at the last index

In [42]:
print("Original List: \n" , A)
print('Length of list, now: ', len(A))
A.extend(['rabbit','ball'])
print('After A.extend([\'rabbit\',\'ball\']: \n' , A )
print('Length of list, now: ', len(A))

Original List:
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple']]
Length of list, now:  12
After A.extend(['rabbit','ball']:
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']
Length of list, now:  14

### insert() function
- Syntax
   
      List_name.insert(index, element)
- inserts the specified element at the particular index and shifts all the other elements at the successive index values

In [43]:
print("Original List: \n" , A)
A.insert(3,"apple")
print('After A.insert(3,"apple"): \n' , A )

Original List:
 [41, 45, 89, 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']
After A.insert(3,"apple"):
 [41, 45, 89, 'apple', 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']

In [44]:
# inserting a nested list as one element
print("Original List: \n" , A)
A.insert(7,['Dog','puppy'])
print("After A.insert(7,['Dog','puppy']): \n" , A )

Original List:
 [41, 45, 89, 'apple', 100, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']
After A.insert(7,['Dog','puppy']):
 [41, 45, 89, 'apple', 100, 'dg', 'kjh', ['Dog', 'puppy'], 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']

# Deleting Elements from list

### remove() function
- Syntax
 
     list_name.remove(element)
- Removes the specified element from the list

In [45]:
print("Original List: \n" , A)
A.remove(100)
print("\n After A.remove(100): \n" , A )
A.remove(['Dog' , 'puppy'])
print("\n After A.remove(['Dog' , 'puppy']): \n" , A )

Original List:
 [41, 45, 89, 'apple', 100, 'dg', 'kjh', ['Dog', 'puppy'], 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']

 After A.remove(100):
 [41, 45, 89, 'apple', 'dg', 'kjh', ['Dog', 'puppy'], 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']

 After A.remove(['Dog' , 'puppy']):
 [41, 45, 89, 'apple', 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit', 'ball']

### pop() function
- Syntax

      list_name.pop(index = optional)
- by default, it will remove the element at the last index, like in a stack
- pop() function gives the popped element as the output which can also be stored in some variable for further use.

In [47]:
print("Original List: \n" , A)
A.pop()
print("\n After A.pop(): \n" , A )
A.pop()

Original List:
 [41, 45, 89, 'apple', 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple'], 'rabbit']

 After A.pop():
 [41, 45, 89, 'apple', 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54, 'cat12', [3, 6, 'Multiple']]

[3, 6, 'Multiple']

In [82]:
popped_value = A.pop(7)
print('popped_value: ', popped_value)

popped_value:  4hk

In [ ]:
# using the popped value again to insert in the list
A.append(popped_value)

### del function
- Syntax 

      del list_name[index]
- deletes the elements of the specified index
- useful to delete a slice of the list
- can also delete the instance of the list

In [28]:
print('List: ', A)
del A[3]
print('\n After del A[3]: \n', A)

del A[3 : 5]
print('\n After del A[3 : 5]: \n', A)

['ball', 'rabbit', [3, 6, 'Multiple'], 54, '4hk', '45h', 100]
['ball', 'rabbit', [3, 6, 'Multiple'], '4hk', '45h', 100]

In [31]:
del A
print(A)

NameError: name 'A' is not defined

## Sorting

In [32]:
A = [41, 45, 89, 82, 'dg', 'kjh', 'gfhgf', '45h', '4hk', 54]
A.sort()

TypeError: '<' not supported between instances of 'str' and 'int'

##### using sort() function

In [37]:
L = [12,3,40, 590, 454, 89, 7678]
print("Original List: ", L)
print("id(L): ", id(L))
L.sort()
print("List after sort(): ", L)
print("id(L) after sort() : ", id(L))

Original List:  [12, 3, 40, 590, 454, 89, 7678]
id(L):  1108954957768
List after sort():  [3, 12, 40, 89, 454, 590, 7678]
id(L) after sort() :  1108954957768

In [41]:
L = [12,3,40, 590, 454, 89, 7678]
print("Original List: ", L)
L.sort(reverse = True)
print("id(L): ", id(L))
print("\nList after sort(reverse = True): ", L)
print("id(L) after sort: ", id(L))

Original List:  [12, 3, 40, 590, 454, 89, 7678]
id(L):  1108955622344
List after sort(reverse = True):  [7678, 590, 454, 89, 40, 12, 3]
id(L) after sort:  1108955622344

##### using sorted() function

In [40]:
L = [12,3,40, 590, 454, 89, 7678]
print("Original List: ", L)
print("id(L): ", id(L))
print("sorted(L): ", sorted(L))
print("id(sorted(L)): ", id(sorted(L)))
print("\nList after sorted(L): ", L)
print("id(L) after sorted(L): ", id(L))

Original List:  [12, 3, 40, 590, 454, 89, 7678]
id(L):  1108953671304
sorted(L):  [3, 12, 40, 89, 454, 590, 7678]
id(sorted(L)):  1108955428872
List after sorted(L):  [12, 3, 40, 590, 454, 89, 7678]
id(L) after sorted(L):  1108953671304

In [42]:
alphabets = ['a', 'u', 'd' , 'g' , 'o' , 'c' , 'm' , 'q']
print("List is : \n", alphabets)
print("\nSorted list : \n", sorted(alphabets)
print("\nList is : \n", alphabets)

['a', 'u', 'd', 'g', 'o', 'c', 'm', 'q']

In [21]:
(alphabets.sort())
print(alphabets)
(alphabets.sort(reverse = True))
print(alphabets)

['a', 'c', 'd', 'g', 'm', 'o', 'q', 'u']
['u', 'q', 'o', 'm', 'g', 'd', 'c', 'a']

In [27]:
# Sorting of strings takes place in lexographically(dictionary format)
str = ["my", "mine", "you", "your", "us", "our"]
str.sort()
str

['mine', 'my', 'our', 'us', 'you', 'your']

###### Priority for ascending order on the basis of first character:
- numbers < capital letters < small letters

In [46]:
str_num = ["1my","A" ,"mine3",'$D', '@w' ,"You", "your", "us", "ou2r"]
str_num.sort()
str_num

['$D', '1my', '@w', 'A', 'You', 'mine3', 'ou2r', 'us', 'your']

In [47]:
str_num.index('us')

7

In [48]:
str_num.clear()

In [49]:
str_num

[]

In [50]:
#Copy
str_num = ["1my","A" ,"mine3",'$D', '@w' ,"You", "your", "us", "ou2r"]
str_num1 = str_num
str_num1

['1my', 'A', 'mine3', '$D', '@w', 'You', 'your', 'us', 'ou2r']

In [42]:
str_num[2] = 'yours'
str_num

['1my', 'A', 'yours', 'mine3', 'ou2r', 'us', 'your']

In [12]:
str_num1

['1my', 'A', 'yours', 'mine3', 'ou2r', 'us', 'your']

In [13]:
str_num2 = str_num.copy()

In [14]:
str_num2

['1my', 'A', 'yours', 'mine3', 'ou2r', 'us', 'your']

In [15]:
str_num[1] = 'ABC'
str_num

['1my', 'ABC', 'yours', 'mine3', 'ou2r', 'us', 'your']

In [16]:
str_num2

['1my', 'A', 'yours', 'mine3', 'ou2r', 'us', 'your']

Operators : + and *

In [33]:
a = [1,2,3,4]
print(a + [4,5,6])
print(a)
print(a * 3)

[1, 2, 3, 4, 4, 5, 6]
[1, 2, 3, 4]
[1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4]

## Built-in functions
...continued