In [1]:
print("Hello World")

Hello World

# Variables and Keywords

Rules for defining a variable:
 - all aphabets are valid
 - no special characters except an underscore(_) are allowed
 - no spaces are allowed
 - numeric values should be followed only after an alphabet or an underscore

In [12]:
_g = 6
ab_ = 7
a_b = 2
#y$ = 4
# a@ = 0
listname = 6
a1 = 9
#1a = 9
a_1 = 8
_1 = 6
print(_1)
_1

6

<img src="Keywords.png">

# Comments and Statements

# Markdown

In [80]:
# This is a comment
2 + 3 # Explanation - adding 2 and 3 using '+' operator 

'''Explanation -
adding 2 and 3 using '+' operator'''

"Explanation -\nadding 2 and 3 using '+' operator"

Multiline Statements
In Python, end of a statement is marked by a newline character. 
But we can make a statement extend over multiple lines with the line continuation character (\)

In [14]:
a = 3+ 4+ \
      5+ 6
a

18

In [15]:
# any type of braces would do
a = ( 3+ 4 +
    5+ 6)
b = { 3+ 4 +
    5+ 6}
c = [ 3+ 4 +
    5+ 6]
print(a , b , c)

18 {18} [18]

In [5]:
a =3+4 ; b = 5 + 6
print(a, b)

7 11

## Types of Operators

 -> Arithmetic : + , - , * , / , % , // , **
 -> Logical : and , or , not
 -> Relational : == , != , > , < , >= , <= 
 -> Assignment : = , += , -= , *= , /=
 -> Bitwise : >> , << , & , | , ~

### Arithmetic Operators

In [2]:
print(2 + 3)
x = 9
y = 7
print(x + y)

5
16

In [3]:
a = 5
a
print(a)
a

5

5

In [3]:
print(2 - 3)
x = 9
y = 7
print(x - y)

-1
2

In [4]:
print(2 * 3)
x = -9
y = 7
print(x * y)

6
-63

In [5]:
print(2 / 3)
x = 9
y = 7
print(x / y)

0.6666666666666666
1.2857142857142858

In [7]:
print(2 ** 3)
x = -9
y = 3
print(x ** y)

8
-729

In [9]:
print(2 % 3)
x = 9
y = 7
print(x % y)

2
2

In [1]:
# Floor Division
print(9//8)
print(5.0 // 3)
print(9.25 // 3)

1
1.0
3.0

### Logical opeartors

In [18]:
print(1 or 0)
print(True or False)
a = False
b = True
print(a or b)
print(5 or 6)
x = 1
y = 0
print(x or y)

1
True
True
5
1

In [2]:
print(1 and 0)
print(True and False)
a = False
b = True
print(a and b)
print(6 and 5)
x = 1
y = 0
print(x and y)

0
False
False
5
0

In [26]:
print(not 1)
print(not False)
a = False
b = True
print(not b)
print(not 6576)
x = 1
y = 0
print(not y)

False
True
False
False
True

### Assignment Operators

In [3]:
a = 6
print(a)
b = 8
print(a + b)

a += b
print(a)

a -= b
print(a)

a *= b
print(a)

a /= b
print(a)

a %= b
print(a)

6
14
14
6
48
6.0
6.0

### Bit-wise Operators

In [82]:
print(1100101 & 1010101)
print(5 & 2)
print(101 & 10)

print(1100 | 10)
print(5 | 2)
print(101 | 10)

print(~5)

print(5 >> 1)
print(5 << 1)

18693
0
0
1102
7
111
-6
2
10

### Relational Operators

In [7]:
print(3 == 2)
print(3 < 2)
print(3 > 2)
print(3 <= 2)
print(3 >= 2)
print(3 != 2)

False
False
True
False
True
True

In [8]:
a = 0
b = 0
print(a == b)
print(a < b)
print(a > b)
print(a <= b)
print(a >= b)
print(a != b)

True
False
False
True
True
False

#### Combining logical and relational operators

In [21]:
a = 5
b = 9
c = 8

print(a<=b or b==c or a<=c and c==a or b>=a)

True

#### Rule of Precedence

Order of operations :> PEDMAS (Parenthesis, Exponentiation, Division and Multiplication, Addition and substraciton)

## Print Operations

In [83]:
a = 6
a

6

In [84]:
print(a)

6

In [85]:
a
print(a)
a

6

6

<img src="Escape sequences.jpg">

In [32]:
print("Apple")
print("Ball")
print("\nApple\nBall")
print("\nApple\tBall")

Apple
Ball

Apple
Ball

Apple	Ball

In [33]:
# Apple's a fruit
print('Apple's a fruit')

SyntaxError: invalid syntax (<ipython-input-33-e6c8fc51e689>, line 2)

In [34]:
print('Apple\'s a fruit')

Apple's a fruit

In [36]:
# \My name is Manish\
print('\\My name is Manish\\')

\My name is Manish\

In [38]:
# She said "I am going"
print("She said "I am going"")

SyntaxError: invalid syntax (<ipython-input-38-1f840e77fc0b>, line 2)

In [40]:
print("She said \"I am going.\"")

She said "I am going."

In [41]:
print("My name is ABC")
print('ABC\'s age is 9 years')
print("ABC\\ said \" I am going\". ")

My name is ABC
ABC's age is 9 years
ABC\ said " I am going".

Python raw string is created by prefixing a string literal with ‘r’ or ‘R’. Python raw string treats backslash (\) as a literal character. This is used when we want to have a string that contains backslash and don’t want it to be treated as an escape character.

In [43]:
print("\\\XYZ \\\")

SyntaxError: EOL while scanning string literal (<ipython-input-43-ddc124679232>, line 1)

In [42]:
# \\XYZ\\
print(R"\\XYZ\\")

\\XYZ\\

In [45]:
print(R"\\\XYZ\\\")

SyntaxError: EOL while scanning string literal (<ipython-input-45-a63e16160f07>, line 1)

In [46]:
# \n ABC \n
print(r'\n ABC \n')

\n ABC \n

In [47]:
print(r'Today\n is Tuesday')

Today\n is Tuesday

In [48]:
print('Today\n is Tuesday')

Today
 is Tuesday

In [49]:
s = 'Good\nMorning'
print(s)
s = r'Good\nMorning'
print(s)

Good
Morning
Good\nMorning

In [81]:
print('''Hi there!
How are you?
Long time, no see.
Thank You
''')

Hi there!
How are you?
Long time, no see.
Thank You

String Formatting
the % operator takes only one argument, we need to wrap the right-hand side in a tuple, like so

In [56]:
name = "Manish"
age = 20

In [55]:
# Hi, Manish
print("Hi, Manish")
print("Hi,%s" %name)

Hi, Manish
Hi,Manish

In [57]:
# I am 20 years old
print("I am 20 years old")
print('I am %d years old' %age)

I am 20 years old
I am 20 years old

In [58]:
# Manish is 20 years old
print("Manish is 20 years old")
print("%s is %d years old" %(name,age))

Manish is 20 years old
Manish is 20 years old

In [59]:
#position independent
name = 'AABC'
age = 12
print('Hey %(n)s, I am  %(a)d years old.' % { "a": age , "n" : name })

Hey AABC, I am  12 years old.

str.format() - # New Style string formatting
- code independent
- position independent

In [66]:
s = 'Hello, {}'
print(s.format(name))
'Hello, {}'.format(name)

Hello, AABC

'Hello, AABC'

In [65]:
print("Hey {n}, I'm {a} years old." .format(a = age , n = name))

Hey AABC, I'm 12 years old.

f- string formatting

In [11]:
print(f"Hey, {name}, I'm {age} years old.")

Hey, AABC, I'm 12 years old.

In [ ]:
a = 2
b = 10
print(f' a + b gives {a + b} and a*b gives {a*b}')

In [14]:
def greet(name, question):
     return f"Hello, {name}! How's it {question}?"

greet('Bob', 'going')

"Hello, Bob! How's it going?"

# Data Types

 Python Numbers
    - integers
    - decimal(float)
    - complex
 Python List
 Python Tuple
 Python Strings
 Python Set
 Python Dictionary

### Python Numbers
  #### -integers
  #### -decimal(float)
  #### -complex

In [71]:
a = 9
print(a)
print(type(a))

9
<class 'int'>

In [70]:
b = -0.75
print(b)
print(type(b))

-0.75
<class 'float'>

In [72]:
c = (7+ 8j)
print(c)
print(type(c))

(7+8j)
<class 'complex'>

### Python strings

In [73]:
d = "tiger"
print(d)
print(type(d))

tiger
<class 'str'>

### Python Lists [ ]

In [75]:
lis = [1, 2, 3, "a" , "apple" , "ball 2" , "89" , 0.9, True]
print(lis)
print(type(lis))

[1, 2, 3, 'a', 'apple', 'ball 2', '89', 0.9, True]
<class 'list'>

### Python Dictionaries {  :  }

In [77]:
dictionary = {1 : 'a' , 2 : 'b' , 'c' : 'cat1' , 'd' : 0.97}
print(dictionary)
print(type(dictionary))

{1: 'a', 2: 'b', 'c': 'cat1', 'd': 0.97}
<class 'dict'>

### Python Tuples ( )

In [78]:
tup = (1, 3, "apple", -0.6, False)
print(tup)
print(type(tup))

(1, 3, 'apple', -0.6, False)
<class 'tuple'>

### Python Sets { }

In [79]:
S = {1, 2,"apple", -0.6}
print(S)
print(type(S))

{-0.6, 1, 2, 'apple'}
<class 'set'>